<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-4">
            <form th:action="@{/blog/posts}" th:object="${postForm}" method="POST">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" th:field="*{tittle}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Text</label>
                    <input type="text" th:field="*{text}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>


        <div class="col-8">

            <ul class="list-group">
                <li th:each="post : ${posts}" class="list-group-item">
                    <h2 th:text="${post.tittle}"></h2>
                    <p th:text="${post.text}"></p>
                    <a th:href="${'/blog/posts/' + post.uuid}" class="btn btn-danger">Touch me !</a>
                </li>

            </ul>

        </div>
    </div>
</div>
</body>
</html>