<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
                    <h2 th:text="${post.tittle}"></h2>
                    <p th:text="${post.text}"></p>
                    <a th:href="${'/blog/posts/'}" class="btn btn-warning">Return <--</a>
    </div>
</div>
</body>
</html>